@font-face {
  font-family: 'Roboto-Light';
  src: url('./font/Roboto/Roboto-Light.ttf') format('woff');
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
  font-family: 'Roboto-Light', 'Helvetica Neue', sans-serif;
}

